<h1>These are my interesting visualizations</h1>
<!-- Tableau visualization hosted on Tableau Public embedded into view -->
<app-graph title="Visualization 1: " description="A map showing the average price of listings plotted across San Francisco">
	<iframe src="https://public.tableau.com/views/CapOneAnalytics/Sheet1?:embed=y&:display_count=yes&publish=yes&:showVizHome=no&:embed=true"
 width="800" height="600"></iframe>
</app-graph>
<app-graph title="Visualization 2: " description="A scatter plot showing the average price of listings compared to square footage">
	<iframe src="https://public.tableau.com/views/CapOneAnalytics/Sheet2?:embed=y&:display_count=yes&publish=yes&:showVizHome=no&:embed=true"
 width="800" height="600"></iframe>
</app-graph>
<app-graph title="Visualization 3: " description="A histogram showing the distribution of the review scores">
	<iframe src="https://public.tableau.com/views/CapOneAnalytics/Sheet3?:embed=y&:display_count=yes&publish=yes&:showVizHome=no&:embed=true"
 width="800" height="600"></iframe>
</app-graph>
