<div class="container-fluid">
  <div class="row">
  	<nav class="navbar navbar-inverse">
	    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
	    <ul class="nav navbar-nav mr-auto">
	      <li class="nav-item"><a routerLink="/vis" routerLinkActive="active">Visualizations</a></li>
	      <li class="nav-item"><a routerLink="/insights" routerLinkActive="active">Insights</a></li>
	    </ul>
	</nav>
  </div>
  <div class="row">
  	<router-outlet></router-outlet>
  </div>
</div>