<div class="card">
	<div class="card-block">
		<h2 class="card-title">Capital One Airbnb Challenge</h2>
		<h5 class="card-subtitle mb-2 text-muted">by Ankit Deogharia</h5>
		<p class="card-text">Hi there!  This is my submission for the Capital One Software Engineering Summit Airbnb challenge.  Here's a brief overview of what I have to present.</p>
		<p class="card-text">On the Visualizations page, I have a few interesting metrics visualized in interactive graphs using Tableau Public.  Feel free to play around!</p>
		<p class="card-text">On the Analytics page, I have the rest of the things like optimal pricing, weekly income, and the best neighborhood in town.</p>
		<h4>Hope you enjoy!</h4>
	</div>
</div>